<h1>ユーザー一覧</h1><br>

<% @users.each do |user| %>
  <div class="card w-50">
  <div class="card-body">
  <span>id: <%= user.id %>　｜</span>
  <%= link_to user_path(user.id) do %>
  <%= user.username %>
  <% end %>
  <span>｜　<%= user.email %></span>

  </div>
<% end %>
 </div>