<h1>投稿一覧</h1>
<p>Find me in app/views/items/index.html.erb</p>

<div class="row row-cols-2 row-cols-md-4 g-4">
  <% @items.each do |item| %>
    <div class="col">
      <div class="card h-100 shadow">
        <p class="card-img-top"></p>
        <div class="card-body text-secondary">
          <%= link_to item_path(item.id) do%>
          <p class="card-text"><small><%= item.content %></small></p>
          <% end %>
          <div class="card-footer">
            <div>
              <small><%= item.created_at.strftime('%Y/%m/%d') %>_by</small>
              <span style="color:black;"><%= item.user.username %></span>
            </div>
            <i class="fas fa-heart unlike-btn"></i><span>　</span>
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>